:root {
  /* Brand Colors */
  --coffee-brown: #4b3621; /* Main text, logo, buttons */
  --cream-beige: #f5f0eb; /* Background, soft elements */
  --caramel: #c89f7d; /* Highlight, button hovers */
  --latte-white: #ffffff; /* Secondary background */
  --muted-sage: #a7b1a3; /* Accent color (icons/links) */
  --rosewood-pink: #c28b8b; /* Soft feminine touch/accent */
  --first-color: #a47551; /* accent */
  --title-color: #3e2c23; /* espresso brown */
  --text-color: #5b4538; /* lighter brown for body */
  --body-color: #f5efe6; /* creamy background */
  --container-color: #ffffff; /* white for containers */
  --background-preloader: #3e2c23; /* dark brown background */
  --text-color-light: #f5efe6; /* soft cream text */
  --smoky-black-1: hsla(40, 12%, 5%, 1);

  /* Gradient for Background */
  --gradient-bg: linear-gradient(
    135deg,
    var(--coffee-brown) 30%,
    var(--cream-beige) 70%
  );

  /* Font Family */
  --font-forum: "Forum", cursive;
  --font-sans: "DM Sans", sans-serif;

  /* Font Sizes */
  --font-size-display-1: calc(1.3rem + 6.7vw); /* Display-1 */
  --font-size-headline-1: calc(2rem + 2.5vw); /* Headline 1 */
  --font-size-headline-2: calc(1.3rem + 2.4vw); /* Headline 2 */
  --font-size-title-1: calc(1.6rem + 1.2vw); /* Title 1 */
  --font-size-title-2: 2.2rem; /* Title 2 */
  --font-size-title-3: 2.1rem; /* Title 3 */
  --font-size-title-4: calc(1.6rem + 1.2vw); /* Title 4 */
  --font-size-body-1: 2.4rem; /* Body 1 */
  --font-size-body-2: 1.6rem; /* Body 2 */
  --font-size-body-3: 1.8rem; /* Body 3 */
  --font-size-body-4: 1.6rem; /* Body 4 */
  --font-size-label-1: 1.4rem; /* Label 1 */
  --font-size-label-2: 1.2rem; /* Label 2 */

  /* Font Weight */
  --font-weight-regular: 400; /* Regular */
  --font-weight-bold: 700; /* Bold */

  /* Line Height */
  --line-height-1: 1em; /* Line Height 1 */
  --line-height-2: 1.2em; /* Line Height 2 */
  --line-height-3: 1.5em; /* Line Height 3 */
  --line-height-4: 1.6em; /* Line Height 4 */
  --line-height-5: 1.85em; /* Line Height 5 */
  --line-height-6: 1.9em; /* Line Height 6 */

  /* Letter Spacing */
  --letter-spacing-1: 0.15em; /* Letter Spacing 1 */
  --letter-spacing-2: 0.4em; /* Letter Spacing 2 */
  --letter-spacing-3: 0.2em; /* Letter Spacing 3 */
  --letter-spacing-4: 0.3em; /* Letter Spacing 4 */
  --letter-spacing-5: 3px; /* Letter Spacing 5 */

  /* Spacing */
  --section-space: 70px; /* Section Space */

  /* Shadow */
  /* Soft shadow for buttons and containers */
  --shadow-1: 0px 0px 25px 0px hsla(0%, 0%, 0%, 0.25);

  /* Shadow for hover effect on buttons */
  --shadow-button-hover: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Gentle hover shadow */

  /* border radius */
  --radius-24: 24px; /* Large rounded corners */
  --radius-circle: 50%; /* Circle shape for buttons */

  /*transition */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease; /* Transition for hover effects */
  --transition-3: 1000ms ease; /* Transition for larger elements */
}

/* Typograpgy */
.display-1 .headline-1 .headline-2 .title-1 .title-2 .title-3 .title-4 {
  color: var(--title-color);
  font-family: var(--font-forum);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-2);
}

.display-1 {
  font-size: var(--font-size-display-1);
  line-height: var(--line-height-1);
}

.headline-1 {
  font-size: var(--font-size-headline-1);
}

.headline-2 {
  font-size: var(--font-size-headline-2);
  line-height: var(--line-height-6);
}

.title-1 {
  font-size: var(--font-size-title-1);
}

.title-2 {
  font-size: var(--font-size-title-2);
}
.title-3 {
  font-size: var(--font-size-title-3);
}
.title-4 {
  font-size: var(--font-size-title-4);
}

.body-1 {
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-6);
}

.body-2 {
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-4);
}
.body-3 {
  font-size: var(--font-size-body-3);
}
.body-4 {
  font-size: var(--font-size-body-4);
}

.label-1 {
  font-size: var(--font-size-label-1);
}

.label-2 {
  font-size: var(--font-size-label-2);
}

/* Global Styles */
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--coffee-brown);
  color: var(--text-color-light);
  font-family: var(--font-sans);
  font-size: var(--font-size-body-4);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-5);
  overflow: hidden;
}

body.loaded {
  background-color: var(--coffee-brown);
  overflow: overlay;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--caramel);
}

/* resused styles */
.container {
  padding-inline: 16px;
}

.separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--caramel);
  transform: rotate(45deg);
}

.contact-label {
  font-weight: var(--font-weight-bold);
}

.contact-number {
  color: var(--caramel);
  max-width: max-content;
  margin-inline: auto;
}

.hover-underline {
  position: relative;
  max-width: max-content;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--caramel);
  transform: scaleX(0);
  opacity: 0;
  transition: var(--transition-2);
}
.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.contact-number ::after {
  bottom: -5px;
}

/*----Preload-----*/

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-preloader);
  z-index: grid;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  transition: var(--transition-2);
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.preload > * {
  transition: var(--transition-1);
}

.preload .preload > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: var(--radius-circle);
  border: 3px solid var(--cream-beige);
  border-block-start-color: var(--smoky-black-1);
  margin-block-end: 15px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.preload .text {
  background-image: var(--gradient-bg);
  background-size: 500%;
  font-size: calc(2rem + 3vm);
  font-weight: var(--font-weight-bold);
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--smoky-black-1);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/*----Topbar---*/
.topbar {
  display: none;
}

/*header*/
.navbar,
.overlay,
.header,
.btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}

.header.active {
  padding-block: 20px;
  background-color: var(--caramel);
}
